## Importing the required packages

In [121]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [122]:
csv_data = pd.read_csv('FuelConsumption.csv')
csv_data.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [123]:
data = csv_data["CO2EMISSIONS"]
Hash_values = np.asanyarray(data)

In [124]:
Hash_values = Hash_values*10
Hash_values

array([1960, 2210, 1360, ..., 2710, 2600, 2940])

In [125]:
hash_table_double1 = [None] * 1069
hash_table_double2 = [None] * 1069
global_size = 1069

In [126]:
def h(k):
    return (k % global_size)

def h1(k):
    return ((k % 103) + 3)

def h2(k):
    return ((k % 487) + 7)

In [127]:
def H1(k, i):
    return (h(k) + i*h1(k)) % global_size

def H2(k, i):
    return (h(k) + i*h2(k)) % global_size

In [128]:
def hash_double1(key):
    i = 0
    while(i != 1068):
        j = H1(key, i)
        if(hash_table_double1[j] == None):
            hash_table_double1[j] = key;
            print(j, key)
            return 
        else:
            i += 1
    print("Overflow")
    
def lookup1():
    val = (int)(input("Enter value to be searched: "))
    print ("\n")
    for number in hash_table_double1:
        if number == val:
            print("Succesful")
            break;
    else:
        print("Number does not exist in the table")

In [129]:
for j in range(100):
    hash_double1(Hash_values[j])

891 1960
72 2210
291 1360
412 2550
302 2440
162 2300
182 2320
493 2550
532 2670
1051 2120
112 2250
252 2390
383 3590
474 3590
173 3380
333 3540
260 3380
374 3540
565 3590
951 2020
199 2300
2 2140
236 2300
273 2300
85 2140
212 2350
372 2510
102 2240
442 2580
262 2240
450 2580
462 2600
132 2270
458 2580
742 2880
403 3610
310 2300
282 2420
276 2390
466 2580
45 2120
322 2460
902 3040
802 2940
153 3360
863 4070
415 3540
883 4090
220 3360
919 4070
456 3540
959 4090
922 3060
942 3080
762 2900
482 2620
712 2850
530 2620
784 2850
630 2670
672 2810
704 2810
832 2970
782 2920
1021 2090
1054 2090
232 2370
240 2370
921 2970
353 3560
1062 3200
593 3800
13 3220
688 3800
783 3800
94 4370
861 1930
931 2000
1017 2020
741 1810
803 1810
940 1930
977 2000
18 2090
51 2090
84 2090
122 2210
347 2300
142 2280
244 2370
239 2320
1019 1930
1023 2000
117 2090
172 2210
384 2300
159 2280
248 2370
14 2020
150 2090

In [130]:
def hash_double2(key):
    i = 0
    while(i != 1068):
        j = H2(key, i)
        if(hash_table_double2[j] == None):
            hash_table_double2[j] = key;
            print(j, key)
            return 
        else:
            i += 1
    print("Overflow")
    
def lookup2():
    val = (int)(input("Enter value to be searched: "))
    print ("\n")
    for number in hash_table_double2:
        if number == val:
            print("Succesful")
            break;
    else:
        print("Number does not exist in the table")

In [131]:
for a in range(100):
    hash_double2(Hash_values[a])

891 1960
72 2210
291 1360
412 2550
302 2440
162 2300
182 2320
534 2550
532 2670
1051 2120
112 2250
252 2390
383 3590
571 3590
173 3380
333 3540
638 3380
471 3540
759 3590
951 2020
521 2300
2 2140
880 2300
170 2300
201 2140
212 2350
372 2510
102 2240
442 2580
401 2240
594 2580
462 2600
132 2270
746 2580
742 2880
403 3610
529 2300
282 2420
701 2390
898 2580
161 2120
322 2460
902 3040
802 2940
153 3360
863 4070
609 3540
883 4090
598 3360
1044 4070
747 3540
15 4090
922 3060
942 3080
762 2900
482 2620
712 2850
674 2620
65 2850
774 2670
672 2810
1054 2810
832 2970
782 2920
1021 2090
101 2090
232 2370
661 2370
887 2970
353 3560
1062 3200
593 3800
13 3220
991 3800
320 3800
94 4370
861 1930
931 2000
1030 2020
741 1810
28 1810
268 1930
990 2000
250 2090
399 2090
548 2090
341 2210
888 2300
142 2280
21 2370
561 2320
744 1930
1049 2000
697 2090
610 2210
178 2300
481 2280
450 2370
40 2020
846 2090

In [132]:
lookup1()

Enter value to be searched: 1960


Succesful

In [133]:
lookup2()

Enter value to be searched: 1960


Succesful

In [ ]:
# print("Time taken: "),
# %time