## Importing the required packages

In [51]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import time
%matplotlib inline

In [52]:
csv_data = pd.read_csv('FuelConsumption.csv')
csv_data.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [53]:
data = csv_data["CO2EMISSIONS"]
Hash_values = np.asanyarray(data)

In [54]:
Hash_values = Hash_values*10
Hash_values

array([1960, 2210, 1360, ..., 2710, 2600, 2940])

In [55]:
hash_table_double1 = [None] * 1069
hash_table_double2 = [None] * 1069
global_size = 1069

In [56]:
def h(k):
    return (k % global_size)

def h1(k):
    return ((k % 103) + 3)

def h2(k):
    return ((k % 487) + 7)

In [57]:
def H1(k, i):
    return (h(k) + i*h1(k)) % global_size

def H2(k, i):
    return (h(k) + i*h2(k)) % global_size

In [58]:
def hash_double1(key):
    i = 0
    while(i != 1068):
        j = H1(key, i)
        if(hash_table_double1[j] == None):
            hash_table_double1[j] = key;
            #print(j, key)
            return 
        else:
            i += 1
    print("Overflow")
    
for j in range(1067):
    hash_double1(Hash_values[j])

In [59]:
def lookup1(val):
    code = h(val)
    loc = code
    flag = 0
    i = 0
    while(hash_table_double1[loc] != None):
        if(hash_table_double1[loc] == val):
            print("Succesful")
            flag = 1
            break;
        else:
            i+=1
            loc = H1(val, i)
            if(loc == code):
                break;
    if(flag==0):
        print("Number does not exist in the table")

In [60]:
val = (int)(input("Enter value to be searched: "))
start_time = time.time()
lookup1(val)
print("CPU time taken : %s milliseconds" % ((time.time() - start_time)*1000))

Enter value to be searched: 123456
Number does not exist in the table
CPU time taken : 1.5311241149902344 milliseconds

In [ ]:
def hash_double2(key):
    i = 0
    while(i != 1068):
        j = H2(key, i)
        if(hash_table_double2[j] == None):
            hash_table_double2[j] = key;
            #print(j, key)
            return 
        else:
            i += 1
    print("Overflow")

for j in range(1067):
    hash_double2(Hash_values[j])
    
def lookup2():
    val = (int)(input("Enter value to be searched: "))
    code = h(val)
    loc = code
    i = 0
    while(hash_table_double2[loc] != None):
        if(hash_table_double2[loc] == val):
            print("Succesful")
            break;
        else:
            i+=1
            loc = H2(val, i)
            if(loc == code):
                break;
    else:
        print("Number does not exist in the table")

In [ ]:
start_time = time.time()
lookup2()
print("CPU time taken : %s seconds" % (time.time() - start_time))